.title {
    margin-left: 560px;
}

.size {
    margin-left: 20px;
    margin-right: 20px;
}

.size_input {
    border-radius: 20px;
    height: 20px;
}

.label_input {
    border-radius: 20px;
    height: 20px;
    margin-left: 15px;
}

.insert {
    border-radius: 20px;
    height: 27px;
    width: 60px;
    font-size: medium;
    color: #ffffff;
    background-color: #b43636;
    margin-left: 25px;
    border: none;
}

.building {
    margin-left: 100px;
    margin-top: 20px;
    font-size: medium;
    border-radius: 20px;
    color: #ffffff;
    background-color: #b43636;
    border: none;
}

#arrayVisualization {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.node {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%; /* Makes the node borders circular */
    background: #ffffff;
    position: relative; /* Needed for absolute positioning of pseudo-elements */
    width: 120px; /* Fixed width for circle shapes */
    height: 120px; /* Fixed height for circle shapes */
}

.children {
    display: flex;
    justify-content: center;
    position: relative;
}

.node::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 2px solid black;
    width: 2px; /* This will create a thin line */
    height: 20px; /* Adjust based on your visual structure */
}

.children::before {
    content: '';
    position: absolute;
    top: -20px; /* Height of the .node::before plus any gap you want */
    left: 0;
    right: 0;
    height: 2px;
    background: black; /* This creates the horizontal line */
    z-index: -1; /* Ensures the line is behind nodes */
}

.children .node:first-child::after {
    content: '';
    position: absolute;
    top: -20px; /* Adjust this to connect with the horizontal line */
    left: 50%;
    width: 50%;
    height: 2px;
    background: black; /* This creates the half horizontal line for the left child */
    z-index: -1;
}

.children .node:last-child::after {
    content: '';
    position: absolute;
    top: -20px; /* Adjust this to connect with the horizontal line */
    right: 50%;
    width: 50%;
    height: 2px;
    background: black; /* This creates the half horizontal line for the right child */
    z-index: -1;
}

/* The following rules adjust the alignment and prevent the child nodes from overlapping */
.node > .children {
    display: flex;
    justify-content: space-between; /* Adjust the space between child nodes */
    position: absolute;
    width: 100%;
    top: 130px; /* Adjust based on the height of your nodes plus the length of the vertical line */
}

/* Remove default margin and padding from the body to prevent scrollbars */
body {
    margin: 0;
    padding: 0;
}